/* General */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F5F8FF;
    /* color: #333; */
    margin: 0;
    padding: 0;
  }
  
  /* Navbar */
  .navbar {
    width: 90% !important;
    margin: auto;
    box-shadow: 0;
}
  
  .logo img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  .navbar-brand {
    font-size: 1.5rem;
    color: #000;
  }
  
  .nav-link {
    color: #8987A1;
    font-weight: 500;
  }
  
  .nav-link:hover,
  .nav-link:focus {
    color: #000;
    text-decoration: none;
  }
  
  .cart-link {
    position: relative;
    font-weight: 600;
  }
  
  .cart-link .fa-shopping-cart {
    margin-right: 0.3rem;
  }
  
  .cart-count {
    position: absolute;
    top: -6px;
    right: -10px;
    background-color: #e03e2f;
    color: #fff;
    font-size: 0.7rem;
    padding: 0 6px;
    border-radius: 12px;
    font-weight: bold;
  }
  
  /* Banner */
  .banner {
    /* background: #e6f2e6; */
    border-radius: 10px;
    margin: 20px auto;
    max-width: 1200px;
    gap: 2rem;
  }

  /* add effect  */
  .banner-text {
    margin-bottom: -137px !important;
  }
  .var-effect {
    position: relative;
    padding-left: 20px; 
  }
  .banner:hover .var-effect::before{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 2px;
    height: 20%;
    background-color: rgba(213, 41, 41, 0.8);
    z-index: -1;
    border-radius: 10px;
  }
  
  .banner-text h1 {
    color: #000;
    font-weight: 700;
  }

  .banner .banner-text h1 span{
    color: #E95A08 !important;
  }
  
  .banner-text p {
    font-size: 1.25rem;
    color: #000000;
  }
  
  .banner-image img {
    /* max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  }
  
  /* Plants Section */
  .plants .section-title {
    color: #000;
    font-weight: 700;
  }
  .plants .section-title span{
    color: #e03e2f;
  }


/* add effect  */
.line-effect {
    display: block;
    /* width: 140px;
    height: 1px;
    background: transparent; */
    position: relative;
    margin: auto;
}
.plants:hover .line-effect::before{
    content: '';
    height: 2px;
    width: 50px;
    right: 50%;
    margin: auto;
    align-items: center;
    position: absolute;
    background: #e59205;
    transition: .4s all ease-in-out;
    z-index: -1;
}

  .plants .plant-p {
    width: 60%;
    font-size: 1.25rem;
    font-weight: 300;
    margin: auto;
    text-align: center;
  }

  .cards{
    margin-top: 20px;
  }

  /* add effect  */
  /* .cards:hover .var-effect::before{
    content: '';
    position: absolute;
    top: 0;
    right: -50px;
    width: 2px;
    height: 20%;
    background-color: rgba(213, 41, 41, 0.8);
    z-index: -1;
    border-radius: 10px;
  } */

  .cards .btn{
    width: 100%;
    background: #E95A08;
    border-radius: 0 !important;
  }
  .cards .btn:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    color: #000000;
  }
  
  .plant-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .plant-card img:hover {
    transform: scale(1.05);
  }
  
  /* Plants Lover Section */
  .plants-lover {
    max-width: 1100px;
    margin: 0 auto;
  }
  
  /* .plants-lover .section-title {
    color: #000;
    font-weight: 700;
  } */
  
  .plants-lover img {
    width: 100%;
  }

  .parent-img{
    position: relative;
    /* display: inline-block; */
  }

  .child-img{
    width: 200px !important;
    position: absolute;
    right: 550px;
    margin-top: -80px;
  }
  .plants-lover .right {
   padding-left: 40px;
  }
  .plants-lover .right ul{
   /* padding-left: 0px; */
  }

  
  /* Deals Section  */
  .text-box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
    color: #fff;
  }
  .text-box a{
    color: #fff;
  }
  .text-box-2{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    color: #fff;
  }
  .text-box-2 a{
    color: #fff;
  }
  /* .row-1{
    background-image: url('assets/deal-bloom.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }
  
  .row-2{
    background-image: url('assets/deal-ana.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

  .row-3{

  } */
  

  /* Join Section */
  .join-section {
    background-image: url('/assets/news-letter-bg.png');
    /* background-color: #d4e7d4; */
    /* max-width: 700px; */
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 30px auto;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 12px #a5bba5; */
  }
  
  .join-section h2 {
    color: #fff;
    font-weight: 700;
    margin-top: 60px;
  }
  
  .join-section p {
    color: #3c5d3c;
    font-size: 1.1rem;
  }
  
  .join-section input.form-control {
    max-width: 350px;
    /* border: 2px solid #000; */
    border-radius: 0 !important;
    width: 100% !important;
  }
  
  .join-section input.form-control:focus {
    border-color: #1f4b29;
    box-shadow: none;
  }
  
  .join-section button {
    padding: 10px 25px;
    font-weight: 600;
    background-color: #E95A08;
    border: none;
    border-radius: 0 !important;
    width: 150px;
  }
  
  .join-section button:hover {
    background-color: #1f4b29;
  }
  
  
  
  /* Footer */
  .footer p{
    color: #000000;
  }
  .footer-link {
    color: gray;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.2s ease;
  }
  
  .footer-link:hover {
    color: #000000;
  }
  
  /* .social-icon {
    color: #ccc;
    font-size: 20px;
    transition: color 0.3s ease;
  } */
  
  .social-icon:hover {
    color: #ffffff;
  }
  
  .footer img {
    max-width: 60px;
  }
  
  
  /* Responsive adjustments */
  @media (max-width: 576) {
    .banner {
      flex-direction: column;
    }
  
    .banner-image img {
      max-width: 100%;
    }
  
    .plants-lover img {
      width: 120px;
      height: 120px;
    }
  }
  